body{
	background-color: lightcoral;
}
p{
	font-size: 50px;
	color: lime;
	text-align: center;
}
table{
	border: double 5px lime;
	width: 50%;
background: linear-gradient(#f00,#0f0,#00f,#ff0,#f0f);
}
th,td{
	border: solid 2px blue;
	width: 25%;
	height: 1см;
	font-size: 24px;
}
tr:hover{
	background-color: grey;
}
td:hover{
	background: linear-gradient(#f00,#0f0,#00f,#ff0,#f0f);
	color: maroon;
	font-size: 2em;
	text-align: center;
}
tr:nth-child(even){
	background-color: gold;
}